<header id="header">
    <div class="prixchoc">
        <span>Meilleurs prix.</span>
        <div class="prixchoc1">
            Prix imbattables sur vos produits préférés
        </div>

        <div class="prixchoc2">Acheter plus pour moins cher</div>
    </div>
    <div class="imganimation" >
        <div id="carouselExample" class="carousel slide">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="images/img_products/carre.jpg" width="300" height="300" class="d-block" alt="tube carre">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="images/img_products/rectangulaire.jpg" width="300" height="300" class="d-block" alt="tube rectangulaire">
                    </div>
                    <div class="carousel-item">
                        <img src="images/img_products/rond.jpg" width="300" height="300" class="d-block" alt="tube rond">
                    </div>
                    <div class="carousel-item">
                        <img src="images/img_products/baguettes.jpg" width="300" height="300" class="d-block" alt="baguettes">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</header>