<div id="panier">
    <div class="row tetePanier">
        <div class="col-2 px-0" id="closPanier"><a class="text-white" href="#">></a></div>
        <div class="col-10 text-center"><span>Panier</span></div>
    </div>

    <div class="row py-4 px-4 h-50" style="overflow-y: auto;">
        <div class="row py-4">
            <div class="col-2">
                <img src="img/carre.jpg" width="50" alt="tube carre"> 
            </div>
            <div class="col-sm-12 col-md-10 px-4">
                <p>Tube Carre 20x20 Galva</p>
                <h5 class="py-1 px-0">15,00 €</h5>
                <h6>Quantité</h6>
                <input class="form-control px-2 text-center w-50" type="number" name="qtite" value="1" />

            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="img/corniere.jpg" width="50" alt="tube carre"> 
            </div>
            <div class="col-sm-12 col-md-10 px-4">
                <p>Corniere 60</p>
                <h5 class="py-1 px-0">15,00 €</h5>
                <h6>Quantité</h6>
                <input class="form-control px-2 text-center w-50" type="number" name="qtite" value="10" />

            </div>
        </div>                
    </div>

    <div class="row px-4">
        <h2 class="mt-4">Sous-total</h2>
        <h2>450 €</h2>
        <hr>
    </div>

    <div class="row px-4">
        <button class="btn btn-primary bg-primary mt-4 mb-2 w-75">Voir le panier</button>
    </div>
</div>